@charset 'utf-8';
/* 首页CSS */
.box {
	width: 500px;
	height: 400px;
	background: #f2f2f2;
	margin: 0 auto;
}
.menu {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #666;
	cursor: default;
	-webkit-box-shadow: 0 5px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 5px 3px rgba(0,0,0,.3);
	-ms-box-shadow: 0 5px 3px rgba(0,0,0,.3);
	-o-box-shadow: 0 5px 3px rgba(0,0,0,.3);
	box-shadow: 0 5px 3px rgba(0,0,0,.3);
	        
}
.mu-act {
	background: #999;
}
.menu li {
	width: 33.33%;
	height: 100%;
	text-align: center;
	float: left;
}
.content, .content li {
	width: 100%;
	height: 360px;
}
.content li {
	display: none;
}
.cont-act {
	display: block!important;
	background: #999;
}